/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.06.2019, 12:34:22
    Author     : Алексей
*/
.col-5 {
	background: #c0c0c0;
	border-radius: 0.5em;
        margin: 1%;
}

